<div id="player" data-live="true" data-ratio="0.5625" data-share="false" class="flowplayer">
    <video data-title="Live stream">
        <source type="application/x-mpegurl" src="{{urlVideo}}">
    </video>
</div>